<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noteMapper">

	<resultMap type="Note" id="noteResultSet">
		<id property="noteNo" column="note_no"/>
		<result property="noteTitle" column="note_title"/>
		<result property="noteContent" column="note_content"/>
		<result property="sendDate" column="send_date"/>
		<result property="readCheck" column="read_check"/>
		<result property="sendStatus" column="send_status"/>
		<result property="receiveStatus" column="receive_status"/>
		<result property="sendNo" column="send_no"/>
		<result property="receiveNo" column="receive_no"/>
		<result property="sendName" column="send_name" />
		<result property="receiveName" column="receive_name"/>
	</resultMap>
	
	<select id="receiveList" parameterType="_int" resultMap="noteResultSet">
		SELECT NOTE_NO, NOTE_TITLE, NOTE_CONTENT, SEND_DATE, READ_CHECK, SEND_STATUS, RECEIVE_STATUS, SEND_NO, RECEIVE_NO, SM.MEMBER_NAME SEND_NAME
		  FROM TB_NOTE N
          JOIN TB_MEMBER SM ON (N.SEND_NO = SM.MEMBER_NO)
		 WHERE RECEIVE_NO = #{no}
		   AND SEND_STATUS = 'N'
	</select>
	
	<select id="sendList" parameterType="_int" resultMap="noteResultSet">
		SELECT NOTE_NO, NOTE_TITLE, NOTE_CONTENT, SEND_DATE, READ_CHECK, SEND_STATUS, RECEIVE_STATUS, SEND_NO, RECEIVE_NO, M.MEMBER_NAME RECEIVE_NAME
		  FROM TB_NOTE N
          JOIN TB_MEMBER M ON (N.RECEIVE_NO = M.MEMBER_NO)
		 WHERE SEND_NO = #{no}
		   AND RECEIVE_STATUS = 'N'
	</select>
</mapper>