<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.dadada.byeworks.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.dadada.byeworks.member.model.dto.MemberAddress" alias="MemberAddress"/>
		<typeAlias type="com.dadada.byeworks.member.model.vo.AddressFav" alias="AddressFav" />
		<typeAlias type="com.dadada.byeworks.bizAddress.model.vo.BizGroup" alias="BizGroup" />
		<typeAlias type="com.dadada.byeworks.sign.model.dto.DepartmentDto" alias="Department"/>
		<typeAlias type="com.dadada.byeworks.sign.model.dto.SignAndAnnualSign" alias="SignAndAnnualSign"/>
		<typeAlias type="com.dadada.byeworks.sign.model.vo.SignLine" alias="SignLine"/>
		<typeAlias type="com.dadada.byeworks.sign.model.vo.SignRefer" alias="SignRefer"/>
		<typeAlias type="com.dadada.byeworks.sign.model.vo.SignAttachment" alias="SignAttachment"/>
		<typeAlias type="com.dadada.byeworks.sign.model.dto.SignAndQuit" alias="SignAndQuit"/>
		<typeAlias type="com.dadada.byeworks.sign.model.dto.SignAndAppointment" alias="SignAndAppointment"/>
		<typeAlias type="com.dadada.byeworks.bizAddress.model.vo.BizAddress" alias="BizAddress"/>
		<typeAlias type="com.dadada.byeworks.bizAddress.model.vo.BizAddressFav" alias="BizAddressFav" />
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/bizAddress-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/sign-mapper.xml"/>
	</mappers>
	
	<!-- 수정 테스트 -->
	
</configuration>
